#Area {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: start;
    align-items: start;
    
    padding: 20px;
    border-radius: 20px;
    color: black;
    width: 800px;
}
.light #Area{
    background: linear-gradient(45deg,#F6C992, #f0cea4);
}
.dark #Area {
      background: linear-gradient(45deg, #3c3939, #444);
      color: white;
}
#Input {
    padding: 20px;

}

#ShowBtn {
    font-size: medium;
    width: fit-content;
}