#Area {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: start;
    align-items: start;
    background: linear-gradient(45deg, rgb(124, 124, 225), rgb(211, 207, 235));
    padding: 20px;
    border-radius: 20px;
    color: black;
    width: 800px;
}

#Input {
    padding: 20px;

}

#ShowBtn {
    font-size: medium;
    width: fit-content;
}