#AreaInput{
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
}
.Row1{
    display: flex ;
    align-items: start;
    justify-content: space-between; 
    margin-bottom: 20px;
}
#InputTitle,#InputDec,#InputTime,#InputCat,#InputPrio{
    margin-right: 10px;
}
