.Total{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
    margin-bottom:50px;
}
.divs{
    
    padding: 20px; 
    border-radius: 20px;
    color: black;
    font-weight: 700;
    text-align: center;
    
}
.light .divs{
 background: linear-gradient(45deg,#F6C992, #f0cea4);

}
.dark .divs{
      background: linear-gradient(45deg, #333, #444);
      color: white;
}
.divs:hover{
    transform: scale(1.2);
}

